.nav {
    width: min-content;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1em 3em 1em 0.5em;
    background-color: rgba(60, 82, 50, 1);
    color: rgba(250, 237, 226, 1);
    position: sticky;
    top: 0;
}

.logo {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 0px 15px;
    border: 3px solid;
    border-radius: 15px;
    padding: 6px 0px 12px 0px;
    color: rgba(250, 237, 226, 1);
    font-family: 'Major Mono Display', monospace;
    font-size: 3.5em;
}

@media screen and (width <= 750px), (height <= 650px) {
    .nav,
    .logo,
    .nav_item {
        display: none;
    }
}